# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

*.png
*.pdf
*.graphml
*.gz
.DS_Store
*.a
nauty_tutorial/nauty_tutorial.xcworkspace/xcuserdata/
nauty_tutorial/static_allocation/static_allocation.xcodeproj/xcuserdata/
nauty_tutorial/exe/

nauty_tutorial/boost_python/boost_python.xcodeproj/xcuserdata/*
nauty_tutorial/boost_python_lib/boost_python_lib.xcodeproj/xcuserdata/*
nauty_tutorial/boost_python_lib/boost_python_lib/*.o

boost_python/class/class.xcodeproj/xcuserdata/
boost_python/class2/class2.xcodeproj/xcuserdata/
boost_python/greet/greet.xcodeproj/xcuserdata/
*.o
boost_python/DerivedData/*
boost_python/class3/class3.xcodeproj/xcuserdata/
boost_python/boost_python.xcworkspace/xcuserdata/
boost_python/class4/class4.xcodeproj/xcuserdata/kumada.xcuserdatad/
